<div class="row">
  <div class="col-auto">
    <button mat-icon-button (click)="comeBack()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <div class="col-auto mt-2">
    <h1>Editar vehículo</h1>
  </div>
</div>

<mat-grid-list cols="1" *ngIf="!brands || !colors || !types; else loadedForm">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #loadedForm>
  <div class="animate__animated animate__fadeIn row justify-content-between">
    <div class="col-6">
      <form [formGroup]="editForm">
        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <input matInput type="text" formControlName="name" ngDefaultControl/>
          <mat-error
            *ngIf="globalMethodsService.getHasRequiredError(editForm, 'name')"
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName="brand" ngDefaultControl>
            <mat-option *ngFor="let brand of brands" [value]="brand.name">
              {{ brand.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="globalMethodsService.getHasRequiredError(editForm, 'brand')"
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de vehículo</mat-label>
          <mat-select formControlName="type" ngDefaultControl>
            <mat-option *ngFor="let type of types" [value]="type.name">
              {{ type.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="globalMethodsService.getHasRequiredError(editForm, 'type')"
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Foto Url</mat-label>
          <input matInput type="text" formControlName="img" ngDefaultControl/>
          <mat-error
            *ngIf="globalMethodsService.getHasRequiredError(editForm, 'img')"
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Colores disponibles</mat-label>
          <mat-select formControlName="availableColors" multiple ngDefaultControl>
            <mat-option *ngFor="let color of colors" [value]="color.name">{{
              color.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              globalMethodsService.getHasRequiredError(
                editForm,
                'availableColors'
              )
            "
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de elaboración</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            formControlName="elaborationDate"
            ngDefaultControl
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error
            *ngIf="
              globalMethodsService.getHasRequiredError(
                editForm,
                'elaborationDate'
              )
            "
            >{{ globalMethodsService.getMessageIsRequired() }}</mat-error
          >
        </mat-form-field>
      </form>
      <div class="row">
        <div class="col-6">
          <button
            mat-raised-button
            color="primary"
            (click)="saveCar()"
            class="w-100 mt-2"
          >
            <mat-icon>edit</mat-icon> Editar
          </button>
        </div>
        <div class="col-6">
          <button
            mat-raised-button
            color="warn"
            (click)="deleteCar()"
            class="w-100 mt-2"
          >
            <mat-icon>delete</mat-icon> Eliminar
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img [src]="getImgFromForm() || noImg" />
    </div>
  </div>
</ng-template>
