<mat-card class="col-12">
  <mat-card-header class="background accent">
    <div class="row width-of-header-card justify-content-around">
      <div class="col text-center">
        <mat-card-title>{{ car?.name }}</mat-card-title>
        <mat-card-subtitle>{{ car?.brand }}</mat-card-subtitle>
      </div>
      <div *ngIf="getScreenWidth > 500" class="col text-center">
        <mat-card-title>Colores</mat-card-title>
        <mat-card-subtitle>(Puedes esojer a tu gusto)</mat-card-subtitle>
      </div>
      <div *ngIf="getScreenWidth > 768"  class="col text-center">
        <mat-card-title>Fecha de elaboración</mat-card-title>
        <mat-card-subtitle>(Año del modelo)</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row width-of-content-card justify-content-between mt-4 mb-1">
      <div class="col">
        <img src="{{car?.img}}" />
      </div>
      <div *ngIf="getScreenWidth > 500" class="col align-self-center text-center">
        <app-show-colors
              [colors]="car?.availableColors || []"
            ></app-show-colors>
      </div>
      <div *ngIf="getScreenWidth > 768" class="col align-self-center text-center">
        <p>
          <mat-icon>calendar_month</mat-icon>
          <span class="v-center p-1">{{(car?.elaborationDate || '') | stringDate: 'date'}}</span>
        </p>
        <p>
          <mat-icon>schedule</mat-icon>
          <span class="v-center p-1">{{(car?.elaborationDate || '') | stringDate: 'time'}}</span>
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <div class="col-6">
        <button mat-raised-button color="primary" class="w-100 h-100" [routerLink]="['/cars/edit', car?.id]">
          <mat-icon>edit</mat-icon><span class="separate">Editar</span>
        </button>
      </div>
      <div class="col-6">
        <button mat-raised-button color="primary" class="w-100 h-100" [routerLink]="['/cars', car?.id]">
          <mat-icon>visibility</mat-icon><span class="separate">Ver más...</span>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
