<div class="col">
    <div>
        <h1>Buscador de Vehículos</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="col">
        <h3>Buscador</h3>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre del vehículo</mat-label>
            <input type="text"
                   placeholder="Escojamos uno"
                   aria-label="Nombre del vehículo"
                   matInput
                   [formControl]="search"
                   [matAutocomplete]="auto"
                   (input)="searching()">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
              <mat-option *ngFor="let car of cars" [value]="car">
                {{car.name}}
              </mat-option>
              <mat-option value="" *ngIf="cars.length === 0 && search.value.trim().length > 0">
                No se encontró nada con la sugerencia {{search.value}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="animate__animated animate__fadeIn" *ngIf="carSelected; else showAllSuggested">
        <app-car-card [car]="carSelected"></app-car-card>
    </div>
    <ng-template #showAllSuggested>
      <div class="animate__animated animate__fadeIn" *ngFor="let car of cars">
        <app-car-card [car]="car"></app-car-card>
    </div>
    </ng-template>
    
</div>